/* this is the main style sheet  */
/* color scheme 
  #2B8254
  #85291E
  #e7a59d
  #562a24
  #B8FFDA
*/

* {
  box-sizing: border-box;
}

/* layout  */

body {
  background-color: #2B8254;
  font-family: 'Josefin Sans', sans-serif;
}
.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

/* typography */

p {
  color: #000;
}

a {
  text-decoration: none;
}

/* a:hover {
  color: #B8FFDA;
} */

h1 {
  text-align: center;
  padding-top: 10px;
  color: #85291E;
  font-family: 'Josefin Sans', sans-serif;
}


ul {
  text-align: center;
  list-style-type: none;
  padding-bottom: 20px;
}

/* Images */


img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}



.edinburgh-img {
  height: 300px;
  width: 100%;
}

.contact-map {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #B8FFDA;
  padding: 20px;
  width: 100%;
  height: 400px;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 20px;
  margin-top: 20px;
}

.contact-map-img {
  width: 100%;
}

.map-img {
  max-width: 100%;
}

/* mygroup  */

.mygroup-flex-row {
  margin-top: 30px;
}

/* Table */

.table-div {
  color: #000; 
  width: 100%;
}

table {
  padding: 10px;
  margin: auto;
  width: 30%;
  background-color: #B8FFDA;
  color: #000;
}

tr {
  padding: 10px;
}

th,
td {
  text-align: center;
}

/* Icons */

.fb-icon,
.phone-icon,
.email-icon {
  height: 30px;
  width: 30px;
  padding: 5px;
  padding-right: 10px;
}

.contact-icon {
  height: 80px;
  width: 80px;
}

/* Text */

.mytown-text {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 30px;
}


.contact-h1,
.mygroup-h1 {
  background-color: #B8FFDA;
  width: 15%;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.mytown-h1 {
    border-radius: 20px;
    background-color: #B8FFDA;
    padding: 10px;
}

.mytown-h1-width {
    border-radius: 20px;
    background-color: #B8FFDA;
    padding: 10px;
    width: 20%;
    margin: auto;
}

.copyright,
.copy-mygroup {
  font-weight: 900;
  color: #ffffff;
  margin: 0;
}


/* Form */

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #B8FFDA;
  width: 50%;
  border-radius: 20px;
  margin-bottom: 50px;
}

label {
  color: #85291E;
  font-weight: 900;
  font-size: 20px;
}

 .container-message-box {
   display: block;
  }

.message-box {
  width: 100%;
}

.user-text-box {
  width: 100%;
}

/* Links */

.home-links {
  color: #000;
  font-weight: 900; 
  text-decoration: none;
}

.link-div {
  text-align: center;
  margin: 20px 0px;
}

.contact-links {
  display: flex;
  justify-content: center;
  background-color: #B8FFDA;
  border-radius: 20px;
  width: 25%;
  margin: auto;
}

.footer-link {
  color: #D7695C;
  font-weight: 900;
  text-decoration: none; 
} 

.footer-link:hover {
  color: #B8FFDA;
}

.nav-link-colour {
  font-weight: 900;
}

.nav-link-colour:hover {
  color: #D7695C;
}

/* bg-color */

.main-img,
.hobbies {
  background-color: #B8FFDA;
}

/* Nav */

nav {
  background-color:  #D7695C;
  border: 1px solid #decade;
  color: #ffffff;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 50px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li a {
  color: #B8FFDA;
  display: block;
  line-height: 56px;
  text-decoration: none;
  padding: 10px;
}


nav ul li:hover {
  color: #fff;
}

nav ul li:hover {
  background-color: #B8FFDA;
}

.hobbies ul li {
  color: #000;
}

/* Footer */

footer {
  background-color: #562a24; 
  color: #ffffff;
  text-align: center;
  padding: 3px;
  margin-top: 20px;
}

.footer-mygroup {
  padding: 0;
}

/* columns */

.row {
  display: flex;
  justify-content: space-evenly;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(43,130,84,0.1);
}

.column-text {
  color: #000;
}

/* Clear floats after the columns If an element is taller than the */
/*element containing it, and it is floated, it will overflow outside of its container.*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* media querie */

/* desktop */

@media screen and (min-width: 992px) {
  .row {
    background-color: #bbffda;
    padding: 10px;
  }

  .column {
    background-color: rgba(43,130,84,1);
    border: 2px solid #000;
    margin-right: 10px;
  }

  .column-text {
    color: #bbffda;
  }

   nav,
  .main-img,
  .hobbies,
  footer {
        border: 2px solid #000;
  }

  .hobbies {
    margin-bottom: 50px;
  }

  footer {
    background-color: #D7695C;
  }

  h1 {
    color: #D7695C;
  }

  .footer-link {
    color: blue;
  }

  .footer-link:hover {
    color: #bbffda;
  }

  h2 {
  color: #D7695C;
}

}

@media screen and (max-width: 992px){
  body,
  nav,
  .main-img,
  .hobbies,
  footer {
      background-color: rgba(43,130,84,1);
  }
  .column {
    width: 50%;
  }

    .footer-link {
    color: blue;
  }

  .footer-link:hover {
    color: #85291E;
  }

  h2 {
  color: #D7695C;
}

}


/* tablet */

@media screen and (max-width: 992px){
  
  body,
  nav,
  .main-img,
  .hobbies,
  footer {
      background-color: rgba(43,130,84,0.5);
  }

  nav,
  .main-img,
  .hobbies,
  footer {
        border: 2px solid #bbffda;
  }



  .hobbies {
    margin-bottom: 50px;
  }

  .nav-link-colour,
  .home-links {
    color: #562a24;
  }

  .home-links:hover {
    color: #cd4333;
    background-color: #bbffda;
    padding: 5px;
    border-radius: 5px;
  }

  .footer-link:hover {
    color: #562a24;
    padding: 5px;
    border-radius: 5px;
  }
  .column {
    background-color: rgba(43,130,84,0.5);
    border: 2px solid #000;   
    width: 23%;
  }

    .row {
      background-color: #bbffda;
      padding: 10px;
  }

  .contact-h1,
  .contact-links {
    width: 100%;
  }

  .footer-link {
    color: blue;
  }

  h2 {
  color: #D7695C;
}


}

/* phone */

@media screen and (max-width: 600px){
  body,
  nav,
  .main-img,
  .hobbies,
  footer {
    background-color: rgba(43,130,84,0.1);
  }

  nav,
  .main-img,
  .hobbies,
  footer {
        border: 2px solid #000;
  }

  .hobbies {
    margin-bottom: 50px;
  }

  .nav-link-colour,
  .home-links {
    color: #D7695C;
  }

  .home-links:hover {
         background-color: rgba(43,130,84,0.4);

  }

  .link-div p,
  .copyright {
    color: #000;
  }

   .footer-link {
    color: blue;
  }

  .footer-link:hover {
    color: #85291E;
  }

   .column {
    width: 100%;
  }

  .mobile-flex-row {
    display: flex;
    flex-direction: column;
  }

   .row {
      background-color: rgba(43,130,84,0.1);
      padding: 10px;
  }

  .mytown-h1-width {
    width: auto;
  }

  .mygroup-h1,
  .contact-h1,
  .contact-links {
    width: 100%;
  }

  .fname-box,
  .lname-box {
    width: 100%;
  }

  h2 {
  color: #D7695C;
}

}

